.btn {
  border-radius: var(--border-radius-small);
  display: inline-block;
  text-decoration: none;
  font-weight: 550;
  background: var(--brown);
  padding: 0.7rem 2rem;
  color: var(--primary);
  cursor: pointer;
  border: 1px solid var(--primary);
}
.btn:hover {
  filter: brightness(110%);
}

.btn.secondary {
  background: var(--secondary);
  color: var(--primary);
}

.btn.tertiary {
  background: transparent;
  color: var(--primary);
  border-color: var(--light-gray);
}

.btn[disabled], .btn.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  background: var(--light-gray);
}