
#main-logo {
  font-size: var(--font-size-huge);
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  padding-bottom: var(--x-small-space);
}

#main-logo a div {
  letter-spacing: 3px;
  text-shadow: var(--text-shadow);
}
#main-logo a span {
  font-weight: 600;
}
#main-logo a span:nth-child(3) {
  font-weight: 100;
  font-style: italic;
}

#main-logo a small {
  display: block;
  font-size: 40%;
  font-style: italic;
  font-weight: normal;
}

#main-logo img {
  height: 4.8rem;
  width: auto;
  margin-right: var(--main-padding);
}

@media screen and (max-width: 768px) {
  #main-logo span {
    letter-spacing: normal
  }
  #main-logo img {
    height: 3.8rem;
  }
}