#home #stats>div {
  display: flex;
  flex-wrap: wrap;
  color: var(--white);
}

#home #stats>div>div {
  width: 48%;
  text-align: center;
  padding: var(--main-padding) 0;
  border: 1px solid var(--brown);
  box-sizing: border-box;
  margin: 1%;
}

#home #stats span {
  color: var(--brown);
  font-weight: bold;
  font-size: var(--font-size-huge);
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 412px) {
  #home #stats>div>div {
    width: 100%;
  }
}