@import "./social-icons/social-icons.css";
@import "./main-logo/main-logo.css";
@import "./main-menu/main-menu.css";

header {
  padding: var(--x-small-space) var(--main-padding) var(--main-padding);
  padding-bottom: 0;
  background: var(--primary);
  font-weight: 500;
}

header > div:nth-child(1)  {
  display: flex;
  justify-content: end;
  padding-bottom: var(--x-small-space);
  margin-bottom: var(--x-small-space);
  border-bottom: 1px solid var(--lighter-gray);
}

header > div:nth-child(2)  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lighter-gray);
}

header a {
  color: var(--secondary);
  text-decoration: none;
  display: flex;
  align-items: center;
}

