#breadcrumbs {
  text-align: center;
  padding: var(--main-padding) 0;
  margin-bottom: calc(var(--main-padding) * 2);
  background-color: var(--lightest-gray);
}

#breadcrumbs nav {
  display: inline-block;
}

#breadcrumbs span, #breadcrumbs a {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #breadcrumbs a:nth-of-type(3) {
    display: block;
    margin-top: var(--xx-small-space);
  }
}
